<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="15">
    <title>Serviços Servidor {{server}}</title>
  </head>
  <body>
    <h1>Serviços Servidor {{server}}</h1>
    <section class="secao4" id="sobre">
      <div class="secao4-div">
        {% for service in services %}
          {% if service[2] == "RUNNING" %}
            <div class="secao4-div-card running">
              <h3>{{service[1]}}</h3>
            </div>
            {% else %}
            <div class="secao4-div-card stopped">
              <h3>{{service[1]}}</h3>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
    <footer>
      <p>&copy; 2024 Wagner Nunes</p>
    </footer>
  </body>
</html>
